#*******************************************************************************************************************
#* Config files                                                                                                    *
#*******************************************************************************************************************
#* File:             30-vars.zsh                                                                                   *
#* Copyright:        (c) 2011-2022 alimonda.com; Emanuele Alimonda                                                 *
#*                   Public Domain                                                                                 *
#*******************************************************************************************************************

# US English and UTF-8, in case it's set wrong at the OS level
export LANG='en_US.UTF-8'
# And a good editor
export EDITOR=vim
# Prepend ~/bin to $PATH
path=( ~/bin $path )
# Make various commands a bit more colorful
export LESS="-RMX"
#R:Raw color codes in output (don't remove color codes);
#M:Long prompts ("Line X of Y")
#X:Disable termcap initialization (disables alt screen)

{{ if eq .chezmoi.os "darwin" -}}
## OS X Only
# Append homebrew to the $PATH
path+=( /usr/local/bin /usr/local/sbin )
{{- end }}

# vim: ts=4 sw=4
