#*******************************************************************************************************************
#* Config files                                                                                                    *
#*******************************************************************************************************************
#* File:             91-highlighting.zsh                                                                           *
#* Copyright:        (c) 2011-2022 alimonda.com; Emanuele Alimonda                                                 *
#*                   Public Domain                                                                                 *
#*******************************************************************************************************************

## Syntax highlighting
#export ZSH_HIGHLIGHT_HIGHLIGHTERS_DIR=/usr/local/share/zsh-syntax-highlighting/highlighters
#if [ -f /usr/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh ]; then
#	source /usr/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
#elif [ -f /usr/local/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh ]; then
#	source /usr/local/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
#elif [ -f ~/zsh-syntax-highlighting/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh ]; then
#	source ~/zsh-syntax-highlighting/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
#fi

ZSH_HIGHLIGHT_HIGHLIGHTERS=(main brackets)
typeset -A ZSH_HIGHLIGHT_STYLES

# Main
# unknown-token - unknown tokens / errors
#ZSH_HIGHLIGHT_STYLES[unknown-token]='fg=red,bold'
# reserved-word - shell reserved words (if, for)
#ZSH_HIGHLIGHT_STYLES[reserved-word]='fg=yellow'
# alias - aliases
#ZSH_HIGHLIGHT_STYLES[alias]='fg=green'
ZSH_HIGHLIGHT_STYLES[alias]='fg=green,bold'
# suffix-alias - suffix aliases (requires zsh 5.1.1 or newer)
#ZSH_HIGHLIGHT_STYLES[suffix-alias]='fg=green,underline'
# builtin - shell builtin commands (shift, pwd, zstyle)
#ZSH_HIGHLIGHT_STYLES[builtin]='fg=green'
ZSH_HIGHLIGHT_STYLES[builtin]='fg=green,underline'
# function - function names
#ZSH_HIGHLIGHT_STYLES[function]='fg=green'
ZSH_HIGHLIGHT_STYLES[function]='fg=cyan'
# command - command names
#ZSH_HIGHLIGHT_STYLES[command]='fg=green'
# precommand - precommand modifiers (e.g., noglob, builtin)
#ZSH_HIGHLIGHT_STYLES[precommand]='fg=green,underline'
# commandseparator - command separation tokens (;, &&)
#ZSH_HIGHLIGHT_STYLES[commandseparator]='none'
ZSH_HIGHLIGHT_STYLES[commandseparator]='fg=yellow'
# hashed-command - hashed commands
#ZSH_HIGHLIGHT_STYLES[hashed-command]='fg=green'
# path - existing filenames
#ZSH_HIGHLIGHT_STYLES[path]='underline'
# path_prefix - prefixes of existing filenames
#ZSH_HIGHLIGHT_STYLES[path_prefix]='underline'
ZSH_HIGHLIGHT_STYLES[path_prefix]='fg=246,underline'
# globbing - globbing expressions (*.txt)
#ZSH_HIGHLIGHT_STYLES[globbing]='fg=blue'
# history-expansion - history expansion expressions (!foo and ^foo^bar)
#ZSH_HIGHLIGHT_STYLES[history-expansion]='fg=blue'
# single-hyphen-option - single hyphen options (-o)
#ZSH_HIGHLIGHT_STYLES[single-hyphen-option]='none'
ZSH_HIGHLIGHT_STYLES[single-hyphen-option]='fg=cyan,bold'
# double-hyphen-option - double hyphen options (--option)
#ZSH_HIGHLIGHT_STYLES[double-hyphen-option]='none'
ZSH_HIGHLIGHT_STYLES[double-hyphen-option]='fg=cyan,bold'
# back-quoted-argument - backquoted expressions (`foo`)
#ZSH_HIGHLIGHT_STYLES[back-quoted-argument]='none'
ZSH_HIGHLIGHT_STYLES[back-quoted-argument]='fg=yellow,bold'
# single-quoted-argument - single quoted arguments ('foo')
#ZSH_HIGHLIGHT_STYLES[single-quoted-argument]='fg=yellow'
# double-quoted-argument - double quoted arguments ("foo")
#ZSH_HIGHLIGHT_STYLES[double-quoted-argument]='fg=yellow'
# dollar-quoted-argument - dollar quoted arguments ($'foo')
#ZSH_HIGHLIGHT_STYLES[dollar-quoted-argument]='fg=yellow'
# dollar-double-quoted-argument - parameter expansion inside double quotes ($foo inside "")
#ZSH_HIGHLIGHT_STYLES[dollar-double-quoted-argument]='fg=cyan'
# back-double-quoted-argument - back double quoted arguments (\x inside "")
#ZSH_HIGHLIGHT_STYLES[back-double-quoted-argument]='fg=cyan'
# back-dollar-quoted-argument - back dollar quoted arguments (\x inside $'')
#ZSH_HIGHLIGHT_STYLES[back-dollar-quoted-argument]='fg=cyan'
# assign - parameter assignments
#ZSH_HIGHLIGHT_STYLES[assign]='none'
ZSH_HIGHLIGHT_STYLES[assign]='fg=yellow,bold'
# redirection - redirection operators (<, >, etc)
#ZSH_HIGHLIGHT_STYLES[redirection]='none'
ZSH_HIGHLIGHT_STYLES[redirection]='fg=magenta,bold'
# comment - comments, when setopt INTERACTIVE_COMMENTS is in effect (echo # foo)
#ZSH_HIGHLIGHT_STYLES[comment]='fg=black,bold'
# default - everything else
#ZSH_HIGHLIGHT_STYLES[default]='none'

# Brackets
# bracket-error - unmatched brackets
#ZSH_HIGHLIGHT_STYLES[bracket-error]='fg=red,bold'
# bracket-level-N - brackets with nest level N
#ZSH_HIGHLIGHT_STYLES[bracket-level-1]='fg=blue,bold'
#ZSH_HIGHLIGHT_STYLES[bracket-level-2]='fg=green,bold'
#ZSH_HIGHLIGHT_STYLES[bracket-level-3]='fg=magenta,bold'
#ZSH_HIGHLIGHT_STYLES[bracket-level-4]='fg=yellow,bold'
#ZSH_HIGHLIGHT_STYLES[bracket-level-5]='fg=cyan,bold'
ZSH_HIGHLIGHT_STYLES[bracket-level-1]='fg=blue,bold'
ZSH_HIGHLIGHT_STYLES[bracket-level-2]='fg=blue,bold'
ZSH_HIGHLIGHT_STYLES[bracket-level-3]='fg=blue,bold'
ZSH_HIGHLIGHT_STYLES[bracket-level-4]='fg=blue,bold'
ZSH_HIGHLIGHT_STYLES[bracket-level-5]='fg=blue,bold'
# cursor-matchingbracket - the matching bracket, if cursor is on a bracket
#ZSH_HIGHLIGHT_STYLES[cursor-matchingbracket]='standout'

if type fast-theme >/dev/null; then
	fast-theme XDG:overlay
fi

# vim: ts=4 sw=4
