{{- $unisonlocalhostname := "" -}}
{{- if hasKey . "unisonlocalhostname" -}}
{{-   $unisonlocalhostname = .unisonlocalhostname -}}
{{- else -}}
{{-   writeToStdout "Local hostname for Unison (usually Computer-Name.local. Enter a single dot '.' to unset)\n" -}}
{{-   $unisonlocalhostname = promptString (.chezmoi.hostname | printf "%s.local") -}}
{{-   if eq $unisonlocalhostname "." -}}
{{-     $unisonlocalhostname = "" -}}
{{-   end -}}
{{- end -}}

{{- $computertype := "" -}}
{{- if hasKey . "computertype" -}}
{{-   $computertype = .computertype -}}
{{- else -}}
{{-   writeToStdout "Computer type (client or server)\n" -}}
{{-   $computertype = promptString "server" -}}
{{-   if ne $computertype "server" -}}
{{-     $computertype = "client" -}}
{{-   end -}}
{{- end -}}

{{- $tools_flavor := "unknown" -}}
{{- if eq .chezmoi.os "darwin" "dragonfly" "dragonfly" "freebsd" "ios" "netbsd" "openbsd" -}}
{{-   $tools_flavor = "bsd" -}}
{{- else if eq .chezmoi.os "android" "linux" "windows" -}}
{{-   $tools_flavor = "gnu" -}}
{{- end -}}
{{- $is_linux := eq .chezmoi.os "linux" -}}
{{- $is_macos := eq .chezmoi.os "darwin" -}}
{{- $is_windows := eq .chezmoi.os "windows" -}}
{{- $is_wsl := false -}}
{{- if and $is_linux (get .chezmoi "kernel") -}}
{{-   if hasSuffix "Microsoft" .chezmoi.kernel.osrelease -}}
{{-     $is_wsl = true -}}
{{-   end -}}
{{- end -}}

[data]
    unisonlocalhostname = {{ $unisonlocalhostname | quote }}
    computertype = {{ $computertype | quote }}
    tmuxprefix = "{{- if eq $computertype "client" -}}F1{{- else -}}F2{{- end -}}"
    [data.os]
        tools_flavor = {{ $tools_flavor | quote }}
        linux = {{ $is_linux }}
        macos = {{ $is_macos }}
        windows = {{ $is_windows }}
        wsl = {{ $is_wsl }}
[diff]
    exclude = ["scripts"]
[status]
    exclude = ["scripts"]

# vim: set ft=toml.chezmoitmpl ts=4 sw=4 et : #
