#*******************************************************************************************************************
#* Config files                                                                                                    *
#*******************************************************************************************************************
#* File:             .bashrc                                                                                       *
#* Copyright:        (c) 2011-2012 alimonda.com; Emanuele Alimonda                                                 *
#*                   Public Domain                                                                                 *
#*******************************************************************************************************************

# This file is sourced by all *interactive* bash shells on startup,
# including some apparently interactive shells such as scp and rcp
# that can't tolerate any output.  So make sure this doesn't display
# anything or bad things will happen !

# Test for an interactive shell.  There is no need to set anything
# past this point for scp and rcp, and it's important to refrain from
# outputting anything in those cases.

# Source all files starting with a in ~/.bashrc.d/
for eachFile in ${HOME}/.bashrc.d/a*.sh; do
	source "${eachFile}"
done

if [[ $- != *i* ]] ; then
	# Shell is non-interactive.  Be done now!
	return
fi

# Put your fun stuff here.

# Source all files starting with i in ~/.bashrc.d/
for eachFile in ${HOME}/.bashrc.d/i*.sh; do
	source "${eachFile}"
done

if [ "${BASH_VERSION%%\.*}" -ge 4 ]; then
	if type brew >/dev/null 2>&1; then
		BASHCOMPLOADER="$(brew --prefix)/share/bash-completion/bash_completion"
	else
		BASHCOMPLOADER="/etc/profile.d/bash-completion.sh"
	fi
	if [ -f "${BASHCOMPLOADER}" ]; then
		. "${BASHCOMPLOADER}"
	fi
fi
{{ if stat (joinPath .chezmoi.homeDir ".cargo") -}}
. "$HOME/.cargo/env"
{{- end }}

if type starship >/dev/null 2>&1; then
	eval "$(starship init bash)"
fi
